html{
    min-height:100%;
}
body{
    margin:0; padding: 0; 
    background-size: 100%; background-position: bottom;
    background-color: rgb(183, 189, 195);
    font-family: "Segoe UI", Roboto, sans-serif;

}
form{
    padding: 100px; margin-top: 0px; background-color: whitesmoke;
}
form button{
    margin:20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-color: pink;
}