:root{
  --mainBlue:#696969;
  --lightBlue:#483d8b;
  --mainWhite: #e6e6fa; /*changed color to lavendor*/
  --mainDark: #232528;
  --mainYellow: #daa520;
}
body{
    /* important overides boostrap default values*/
  font-family: 'Playfair Display', serif, "Segoe UI", Roboto, sans-serif !important;  
  background: var(--mainWhite) !important;
  color: var(--mainDark)!important;  
  background-color: rgb(183, 189, 195) !important;  
}
/* top of page title styling*/
.text-title{
  font-family: 'Abril Fatface', cursive; letter-spacing: 0.3rem; text-transform: uppercase;
}
.text-blue{
  /* do not include in project: unecessary */
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
/* basic classes end */

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
}

html{
  min-height:100%;
}
body{
  margin:0; padding: 0; font-family: 'Playfair Display', serif, "Segoe UI", Roboto, sans-serif;
  background-size: 100%; background-position: bottom;
  background-color: rgb(183, 189, 195);
} */